<ul class="alert alert-danger" *ngIf="errores?.length > 0">
  <li *ngFor="let err of errores">
    {{ err }}
  </li>
</ul>

<div class="card bg-fuchsia text-dark">
  <div class="card-header">{{ titulo }}</div>
  <h4 class="card-title">
    <a [routerLink]="['/expertos']" class="btn btn-light btn-xs">&laquo; volver</a>
  </h4>
  <div class="card-body">

    <form #expertoForm="ngForm">
      <div class="form-group row">
        <label for="nombre" class="col-form-label col-sm-6">Nombre</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" [(ngModel)]="experto.nombre" name="nombre" required #nombre="ngModel"> <!-- required minlength="4" -->
          <div class="alert alert-danger" *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
            <div *ngIf="nombre.errors.required">
              Nombre es requerido
            </div>
            <div *ngIf="nombre.errors.minlength">
              Nombre debe tener al menos 4 caracteres
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label for="apellido" class="col-form-label col-sm-6">Apellido</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" [(ngModel)]="experto.apellido" name="apellido" #apellido="ngModel"> <!-- required -->
          <div class="alert alert-danger" *ngIf="apellido.invalid && (apellido.dirty || apellido.touched)">
            <div *ngIf="apellido.errors.required">
              Apellido es requerido
            </div>
          </div>
        </div>
      </div>
      <h4>TAREAS</h4>
      <div class="form-group row">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>id</th>
              <th>TITIULO</th>

            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let etiqueta of etiquetas">
              <td>{{ etiqueta.id }}</td>
              <td>{{ etiqueta.title }}</td>
              <td>
                <button type="button" name="Seleccionar" (click)='seleccionaTarea(etiqueta)' class="btn btn-danger btn-sm">seleccion</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="row form-group">

        <div class="col-md-6 col-12 form-group">

          <!-- Email -->
          <!-- Requerido, patron email -->
          <label for="email">Email (*)</label>
          <input type="text"
            class="form-control"
            name="email"
            id="email"
            placeholder="Escribe tu email..."
            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
            required
            #email="ngModel"
            [(ngModel)]="experto.email"
            [ngClass]="{
              'is-valid': email.dirty && !email.errors,
              'is-invalid': email.dirty && email.errors
            }">

            <div class="valid-feedback">
              <span>¡Correcto!</span>
            </div>
            <div class="invalid-feedback">
              <span *ngIf="email.errors?.required">Valor requerido</span>
              <span *ngIf="email.errors?.pattern">El formato no es correcto</span>
            </div>
        </div>
        </div>

      <div class="form-group row">
        <label for="createAt" class="col-form-label col-sm-2">Fecha</label>
        <div class="col-sm-6">

          <input [matDatepicker]="miDatepicker" class="form-control" [(ngModel)]="experto.createAt" name="createAt" style="display:inline; width:300px;">
          <mat-datepicker-toggle [for]="miDatepicker"></mat-datepicker-toggle>
          <mat-datepicker #miDatepicker></mat-datepicker>
        </div>
      </div>


      <div class="form-group row">
        <div class="col-sm-6">
          <button class="btn btn-primary" role="button" (click)='create()' *ngIf="!experto.id else elseBlock" [disabled]="!expertoForm.form.valid">Crear</button>

          <ng-template #elseBlock>
            <button class="btn btn-primary" role="button" (click)='update()' [disabled]="!expertoForm.form.valid">Editar</button>
          </ng-template>
        </div>
      </div>
    </form>

  </div>
</div>

